---
import Hero from "@components/Hero.astro";
import { getLangFromUrl } from "@i18n/utils";
import ContentBodyLayout from "@layouts/ContentBodyLayout.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const { posts } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const allPosts = await getCollection("blog", ({ data, id }) => !data.draft && id.startsWith(`${lang}/`));
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
const pageTitle = "Índice de etiquetas";
---

<Layout title={pageTitle}>
  <Hero slot="hero" title={pageTitle}/>

  <ContentBodyLayout>
    <div class="flex flex-wrap justify-center gap-4 mt-4">
      {
        tags.map((tag) => (
          <p class="px-3 py-1 rounded-full bg-blue-100 text-blue-500 text-sm font-semibold tracking-wide shadow-md">
            <a href={`${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
  </ContentBodyLayout>
</Layout>