---
import Hero from "@components/Hero.astro";
import { getLangFromUrl } from "@i18n/utils";
import ContentBodyLayout from "@layouts/ContentBodyLayout.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const { posts } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const allPosts = await getCollection("blog", ({ data, id }) => !data.draft && id.startsWith(`${lang}/`));
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
const pageTitle = "Índice de etiquetas";
---

<Layout title={pageTitle}>
  <Hero slot="hero" title={pageTitle}/>

  <ContentBodyLayout>
    <div class="flex flex-wrap">
      {
        tags.map((tag) => (
          <p class="m-1 border-solid border border-gray-400 rounded-lg px-4 py-2 text-lg bg-neutral-200">
            <a class="text-stone-700 no-underline" href={`${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
  </ContentBodyLayout>
</Layout>